<template>
  <div class="login">
    <h1>Register</h1>

    <div class="mb-3">
      <label for="username">Username</label>
      <input v-model="username" type="text" class="form-control" id="username"  placeholder="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1">Password</label>
      <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="button" class="btn btn-secondary" @click="login">Submit</button>

  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      username: "",
      password: "",
    }
  },
  methods: {
    async login() {
      const res = await axios.post('/api/register', { 
        username:this.username,
        password:this.password
      }).then((response) => {
        this.$router.push({ path: 'login' })
      })
    }
  }
})
</script>


<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
